{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

<!DOCTYPE html>					

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		 <link rel="stylesheet" href="style.css">
		 
		<title>The Curriculum Vitae</title>
	</head>
						

<body> 

  <p class="centrertitre">Network  Systems Administrator</p>

  <div class="card text-white bg-light mb-3" style="max-width: 50rem; margin: auto;">
  <div class="card-header">FORMATION</div>
  <div class="card-body">
    
    <p class="card-text"> 
    <div>
    <ul class="met">
      <li> BUT en Réseaux & Télécoms </li>
      <li>BAC S2 au Lycée D'Excellence Cheikh Hamidou Kane </li>
      </ul>
  </div></p>
  </div></div>

  <div class="card text-white bg-light mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Expérience Professionnelle</div>
  <div class="card-body">
   
    <p class="card-text"> <div>
    <ul class="met">
      <li> Initiation aux réseaux informatiques</li>
      <li>Sensibilisation à l'hygiène informatique et à la cybersécurité</li>
      <li>Découverte d'un dispositif de transmission </li>
     
    </ul>
  </div></p>
  </div></div></p>
  </div></div>

  <div class="card text-white bg-light mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Compétences</div>
  <div class="card-body">
  <
  
    <p class="card-text">

     <div>
    <ul class="met">
      <li> Compétences sur les réseaux locaux et équipements actifs  </li>
      <li> Fondamentaux sur les systémes électroniques</li>
      <li>Maitrises des technologies WEB (CSS/HTML/Symfony) </li>
      <li>Fondamentaux de la programmation</li>
      <li>Mathématique du signal et des transmissions </li>
      <li>Bonne communication en Anglais et Français </li>
    </ul>
  </div></p>
  </div></div>
  </p>
  </div></div>
  <form action="images/CV.pdf" target="_blank">
		<h2>FORMULAIRE</h2>
		<div>
        <label for="nom">Nom </label>
        <input type="text" name="nom" id="nom" required>
		</div>
		<div>
			<label for="prenom">Prenom(s) </label>
			<input type="text" name="prenom" id="prenom" required>
		</div>	
		<div>
			<label for="email">Votre email </label>
			<input type="text" name="email" id="email" placeholder="example123@gmail.com" required>

		</div>
  <input type="submit">
 </form>
</div>

</body>








{% endblock %}
	



