{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

<!DOCTYPE html>					

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		 <link rel="stylesheet" href="style.css">
		 
		<title>The Curriculum Vitae</title>
	</head>
						

	<body> 

  <p class="centrertitre">Network  Systems Administrator</p>
		
	
	
  

  
    <div class="row">
  <div class="col-md-4">
    <div class="card">
    <div class="card-header"> FORMATION</div>
     
    <ul class="met">
      <li></li>
      <li> </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
   <div class="card-header">Expérience Professionnelle</div>
        <div>
    <ul class="met">
      <li> </li>
      <li> </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
  


  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card">
    <div class="card-header">Compétences</div>
    <div> 
    <ul class="met">
      <li> </li>
      <li> </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </div>
    
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
   <div class="card-header">SKILLS</div>
        <div>
    <ul class="met">
      <li> </li>
      <li> </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
  


  </div>
</div>

      

  

		







		
	</body>







{% endblock %}
	



