{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		<title>My HOBBIES</title>
	</head>							

	<body>		

 
					
	<div class="card text-white bg-secondary mb-3" style="max-width: 50rem; margin: auto;">
  <div class="card-header">Découverte</div>
  <div class="card-body">
  <img src="{{asset('images/ism.jpg')}}" class="image">
  
    
    <p class="card-text"> 
    </p>
  </div></div>

  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Sport</div>
  <div class="card-body">
  <img src="{{asset('images/ism.jpg')}}" class="image">
   
    <p class="card-text"> </p>
  </div></div></p>
  </div></div>

  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Vacance</div>
  <div class="card-body">
  <img src="{{asset('images/ism.jpg')}}" class="image">
  
    <p class="card-text">
     </p>
  </div></div>
  </p>
  </div></div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header"> </div>
  <div class="card-body">
   
    <p class="card-text"> </p>
  </div></div></p>
  </div></div>
	






	
  			
	</body>	
{% endblock %}


