{% extends 'base.html.twig' %}

{% block title %}Sall E-SPACE{% endblock %}


{% block body %}
<body>
  <h1 class="title">Welcome to SallMohamed SPACE  </h1>
  <div class="maClasse" id="monId">
    <p>  As a student in networks and telecoms,
     <br>I am passionate about information technology and communication,
    <br>and I am motivated to learn the latest trends and technologies 
     <br>  in networking and telecommunications
    <br>to contribute to more efficient connectivity.   </p>
  </div>

  <div>
    <ul class="met">
      <li> <i class="fa-solid fa-user"></i> Last name: Sall </li>
      <li>  <i class="fa-solid fa-user"></i> First Name : Mohamed</li>
      <li> <i class="fa-solid fa-house-laptop"></i> Address : Roanne 42300- 76 Rue Jean Jaurès</li>
      <li><i class="fa-solid fa-phone"></i> Phone number: 0787269033</li>
      <li> <i class="fa-solid fa-envelope"></i> E-mail: mohamed.sall@etu.univ-st-etienne.fr</li>
      <li>  <i class="fa-brands fa-instagram"></i> Instagram / <i class="fa-brands fa-facebook"></i> Facebook / <i class="fa-brands fa-linkedin"></i> LinkedIN / <i class="fa-brands fa-github"></i> Github / <i class="fa-brands fa-twitter"></i> Twitter</li>
    </ul>
  </div>
  <img class="imgBG" src="images/business.jpg" alt="Busi"></img>
 
</body>


{% endblock %}
