{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}				

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		<title>The Curriculum Vitae</title>
	</head>							

	<body>	
	
 <br></br>
  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Configuration des fonctions de base du réseau local (Ethernet, IPv4, intro IPv6, commutation, VLANs)</div>
  <div class="card-body">
   
    <p class="card-text"> Je maitrise tout ce qui est Configuration @IP,configuration de  VLAN et de configuration SWITCHs pour un réseau local.<br></br>
    <strong>Aperçu </strong> : <a href="https://drive.google.com/open?id=1D9EZmfq3yhSyLFZJpiM2T5dGKqM9Q7iN&usp=drive_copy">Appuyez ici</a></p>
   </div></div></p>
      

    <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
    <div class="card-header">Déployer des supports de transmission (traitement au choix de la propagation, câblage LAN, fibre optique, ou une introduction à l’IoT)</div>
    <div class="card-body">
   
    <p class="card-text">En mesure de connecter tous les équipements. <br></br>
    <strong>Aperçu </strong> : <a href="https://drive.google.com/open?id=1nWsPM-_Qz-ns_V0_XeqG1xsQOX1jiLiv&usp=drive_copy">Appuyez ici</a></p>
    </div></div></p>
       
    
     <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Lecture, exécution, correction et modification d'un programme en C et Python (programmes simples type scripts, algorithme inclu)</div>
  <div class="card-body">
   
    <p class="card-text"> Réalisation d'un projet en python et quelques morceaux de code sur les deux langages.<br></br>
    <strong>Aperçu </strong> : <a href="https://drive.google.com/open?id=1nt6uZxXiHUX6Rc1TQmKapmUma61Tafx-&usp=drive_copy">Appuyez ici</a></p>
  </div></div></p>
     

  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Connaissance sur l’architecture et les technologies d’un site Web (Langages et outils : HTML, CSS)</div>
  <div class="card-body">
   
    <p class="card-text">Création d'une page WEB.<br></br>
    <strong>Aperçu </strong> : <a href="https://drive.google.com/open?id=1Rxmtaen4l6IQTMdPUl9nZHtXjow7ajIl&usp=drive_copy">Appuyez ici</a></p>
  </div></div></p>
   




  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Communication en Anglais</div>
  <div class="card-body">
   
    <p class="card-text"> Réalisation d'un CV vidéo<br></br>
    <strong>Aperçu </strong> : <a href="https://drive.google.com/open?id=1mifBPUpXeE6dATrq0T-Op9OrOaWhtH-Q&usp=drive_copy"> Appuyez ici</a></p>
  </div></div></p>
    
  




	</body>
{% endblock %}