{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}<!DOCTYPE html>					

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		<title>The Curriculum Vitae</title>
	</head>							

	<body>	
	
 <br></br>
 <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Configurer les fonctions de base du réseau local (Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)</div>
  <div class="card-body">
   
    <p class="card-text"> </p>
  </div></div></p>
  </div></div>  

    <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Déployer des supports de transmission (traitement au choix de la propagation, câblage LAN, fibre optique, ou une introduction à l’IoT)</div>
  <div class="card-body">
   <p>Lien vers la pièce justificative : <a href=""></a></p>
    <p class="card-text"> </p>
  </div></div>
  </div></div> 
    
     <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Connaissance sur  l’architecture et les technologies d’un site Web (Langages et outils : HTML, CSS, Symfony, Bootsrap)</div>
  <div class="card-body">
   
    <p class="card-text"> </p>
  </div></div>
  </div></div>    
  
  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header"> Lecture, exécution, correction et modification d'un programme en C et python</div>
  <div class="card-body">
   
    <p class="card-text"> </p>
  </div></div>
  </div></div>

   <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;margin:auto;">
  <div class="card-header">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</div>
  <div class="card-body">
   
    <p class="card-text"> </p>
  </div></div>
  </div></div>




	</body>
{% endblock %}