{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}<!DOCTYPE html>					

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		<title>The Curriculum Vitae</title>
	</head>							

	<body>	

		<p>							
		<strong></strong> 
		</p>







	</body>
{% endblock %}