{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}<!DOCTYPE html>		>
<!DOCTYPE html>					

<html>								

	<head>						
		<meta name="auteur" content="Mon identité" >
		<title>My SKILLS</title>
	</head>							

	<body>							
		<p>							
		<strong>Bla</strong> bla bla
		</p>







	
  			
	</body>	
{% endblock %}


