
            img.imgBG{
              position: absolute;
              left: 0px;
              top: 0px;
              z-index: -1;
              width: 150%;
              height: 150%;
              filter: blur(8px);
            }
            .maClasse{
              color:black;
              text-align: center;
              margin-left: 10px;
              margin-top: 50px;
        
            }

            
            .rien{
              color:blue;
              
             
            }
           
            
            .met{
              color:black;
              text-align:5px;
              margin-left: 5px;
              margin-top: 20px;

            }
            .title{
               color:black;
              text-align:center;
              margin-left: 5px ;
              margin-top: 50px;

            }
           
           
          .header{
              position: fixed;
              top: 0;
              left: 0;
              z-index: 1000;
              height: 100%;
              width: 40rem;
              background: #1a1a1a;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: column;
              text-align: center;
          }
          header .user img{
              height: 25rem;
              width: 25rem;
              border-radius: 50%;
              object-fit: cover;
              margin-bottom: 1rem;
              border: 1rem solid var(--yellow);
          }
          header .user .name{
              font-size: 3rem;
              color: #fff;
          }
          header .user .post{
              font-size: 2rem;
              color: #fff;
          }
          header .navbar{
              width:20%;
          }
          header .navbar ul{
              list-style: none;
              padding: 1rem 1rem;
          }
          header .navbar ul li a{
              display: block;
              padding: 1rem;
              margin: 2rem 0 ;
              background: #333;
              color: #fff;
              font-size: 2rem;
              border-radius: 0rem;
              align-items: center;
          }
          header .navbar ul li a:hover{
              background: #7f4be8;
          }
          .circular-image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20vh; 
            height: 20vh;
            clip-path: circle(50% at 50% 50%);

            
      
            }
            .image{
              width: 100%;
              height :auto ;
            }
           
           

          
          .card header{
            background-color: black;

          }


          .centrertitre{
            text-align: center;
            color: #fff;
            font-size: 2em;
          }
          .card-header{
            color:black

          }
          
         